<%= form_tag form_route(source), method: form_action(source) do %>

  <h3> Animal Name </h3>
  <%= text_field_tag "animal[name]", (@animal.name if @animal) || "" %><br><br>
  <h3> Animal Type </h3>
  <%= text_field_tag "animal[animal_type]", (@animal.animal_type if @animal) || "" %><br><br>

  <h3> Select Zoo </h3>
  <%= collection_select(:animal,
                        :zooo_id,
                        Zooo.all,
                        :id,
                        :name,
                        { selected: (params[:zooo_id] if params[:zooo_id])})
  %><br><br><br><br>

  <%= submit_tag "Save" %><br><br>

<% end %>
