<h1>New Animal</h1>

<%= form_tag create_animal_path, method: 'post' do %>

  <%= text_field_tag "animal[name]" %>
  <%= text_field_tag "animal[animal_type]" %>

  <%= collection_select(:animal,
    :zooo_id,
    Zooo.all,
    :id,
    :name,
    { selected: (params[:zooo_id] if params[:zooo_id])})
  %>

  <%= submit_tag 'Save' %>

<% end %>

<%= link_to 'Back', '#' %>
