<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @animal.name %>
</p>

<p>
  <strong>Animal type:</strong>
  <%= @animal.animal_type %>
</p>

<p>
  <strong>Zooo:</strong>
  <%= @animal.zooo %>
</p>

<%= link_to 'Edit', '#' %> |
<%= link_to 'Back', '#' %>
