<%= form_for(zooo) do |f| %>
  <% if zooo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zooo.errors.count, "error") %> prohibited this zooo from being saved:</h2>

      <ul>
      <% zooo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :zipcode %>
    <%= f.number_field :zipcode %>
  </div>

  <div class="field">
    <%= f.label :published %>
    <%= f.check_box :published %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
