<%= form_for(zooo) do |f| %>
  <% if zooo.errors.any? %>
    <div id="error_explanation">
      <h2 class="regular-color"><%= pluralize(zooo.errors.count, "error") %> prohibited this zooo from being saved:</h2>

      <ul>
      <% zooo.errors.full_messages.each do |message| %>
        <li class="regular-color"><%= message %></li>
      <% end %>
      </ul>
    </div><hr>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: 'title-font-color' %>
    <%= f.text_field :name, class: 'form-control regular-color' %>
  </div><br/>

  <div class="form-group">
    <%= f.label :city, class: 'title-font-color' %>
    <%= f.text_field :city, class: 'form-control regular-color' %>
  </div><br/>

  <div class="form-group">
    <%= f.label :zipcode, class: 'title-font-color' %>
    <%= f.number_field :zipcode, class: 'form-control regular-color' %>
  </div><br/>

  <div class="field">
    <%= f.label :published, class: 'title-font-color' %>
    <%= f.check_box :published %>
  </div><br/>

  <div class="actions">
    <%= f.submit "Submit 'N' Save", class: 'btn btn-default form-control regular-color' %>
  </div>
<% end %>
