<p id="notice"><%= notice %></p>

<h3 class="title-font-color">Manage Your Zoo's</h3>
<hr>

<% @zooos.each do |zooo| %>
  <div class="col-md-4">
    <div class="jumbotron text-center">
      <h3 class="regular-color"><b><%= zooo.name %></b></h3><hr>
      <h5 class="regular-color"><%= zooo.city %></h5><br>
      <h5 class="regular-color">Updated <%= zooo.updated_at.strftime("on %d/%m/%Y at %l:%M%P") %></h5><hr>
      <h4><b><%= link_to 'Show', zooo , class: 'regular-color' %></b></h4><br>
    </div>
  </div>
<% end %>
