<p>
  <h3>
    <co class="title-font-color">Zoo Name - </co>
    <co class="regular-color"><%= @zooo.name %></co>
  </h3>
</p>

<p>
  <h3>
    <co class="title-font-color">City - </co>
    <co class="regular-color"><%= @zooo.city %></co>
  </h3>
</p>

<p>
  <h3>
    <co class="title-font-color">Zipcode - </co>
    <co class="regular-color"><%= @zooo.zipcode %></co>
  </h3>
</p>

<p>
  <h3>
    <co class="title-font-color">Published - </co>
    <co class="regular-color"><%= @zooo.published %></co>
  </h3>
</p>

<p>
  <h3>
    <co class="title-font-color">Animals Count - </co>
    <co class="regular-color"><%= @zooo.animals.count %></co>
  </h3>
</p>
<br>
<p>
  <%= link_to 'Add New Animal', new_animal_path(zooo_id: @zooo_id), class: 'regular-color' %> |
  <%= link_to 'Edit', edit_zooo_path(@zooo), class: 'regular-color' %> |
  <%= link_to 'Back', zooos_path, class: 'regular-color' %>
</p>


<br>
<hr>

<p>
  <h4 class="title-font-color">List of Animals in <%= @zooo.name %></h4>
</p>
<hr>

<% @zooo.animals.each do |animal| %>
 <div class="col-md-4">
   <div class="jumbotron">
      <p><hr>
        <b>
          <co class="title-font-color">Animal -</co> <co class="regular-color"><%= animal.name %></co>
        </b><br><br>
          <co class="regular-color">Type - <%= animal.animal_type %></co><br><br>
          <co class="regular-color">Updated on - <%= animal.updated_at.strftime("%d/%m/%Y at %l:%M%P") %></co><br><br>
        <b><%= link_to 'Edit', edit_zooo_animal_path(zooo_id: @zooo.id, id: animal.id), class: 'regular-color' %></b> |
        <b><%= link_to 'Remove from zoo', zooo_animal_path(zooo_id: @zooo.id, id: animal.id), method: :delete ,data: { confirm: 'Are you sure?' }, class: 'regular-color' %></b>
      </p><hr>
    </div>
  </div>
<% end %>
