<!DOCTYPE html>
<html>
  <head>
    <title>Zoo</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaina|Cabin+Condensed" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/nav' %>

    <p class="notice alert"><%= notice %><%= alert %></p>
    <div class="container">
        <%= yield %>
      <div class="pad-top">
      </div>
    </div>
  </body>
</html>
